
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.button{
    padding: 18px 30px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #B68C5A;
}

.banner{
    background-image: url('../images/banner.png');
    background-color: grey;
    background-blend-mode: multiply;
    width: 1170px;
    height: 550px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
